.product {
  width: 30%;
  height: 40vh;
  margin: 60px 10px;
  border: 2px solid gainsboro;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.product-browser {
  height: 20px;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.product-circle {
  width: 6px;
  margin: 3px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
}

.product-image {
  width: 100%;
  transition: all 10s ease;
}

.product:hover .product-image {
  transform: translateY(-20%);
}

.product-description {
  font-size: 15px;
  font-weight: 300;
  margin: 2px 0;
}

@media screen and (max-width: 480px) {

  .product {
    width: 40%;
    height: 20vh;
  }
}
